node_modules
./dist
./build
./coverage
.env
.DS_Store
.vscode
.idea
.eslintcache
.prettiercache
.nyc_output
.cache
.next
.nuxt
.parcel-cache
.sass-cache
.webpack
.babelrc
.stylelintrc
.eslintrc
.prettierrc
.editorconfig
.git
.gitattributes
.gitignore
.github
allure-results
allure-report
playwright-report